<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="<%= headUrl %>">
    <meta property="og:title" content="<%= headTitle %>">
    <meta property="og:description" content="<%= headDec %>">
    <meta property="og:image" content="<%= headImage %>">
    <meta property="article:author" content="Dowry Free Move">
    <title><%= headTitle %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>
<body>

